<%= form_for @recipe, :html => {:class => "form-horizontal"} do |f| %>

  <div class="form-group <%= @recipe.errors[:title].empty? ? '' : 'has-error' %> ">
    <%= f.label :title, :class => "control-label col-sm-1" %>
    <div class="col-sm-4">
      <%= f.text_field :title, :class => "form-control" %>
      <span class="help-block">
        <% @recipe.errors[:title].each do |err| %>
          <%= err %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="form-group <%= @recipe.errors[:description].empty? ? '' : 'has-error' %> ">
    <%= f.label :description, :class => "control-label col-sm-1" %>
    <div class="col-sm-4">
      <%= f.text_area :description, :class => "form-control" %>
      <span class="help-block">
        <% @recipe.errors[:description].each do |err| %>
          <%= err %>
        <% end %>
      </span>
    </div>
  </div>

  <ul>
  <%=f.fields_for :steps do |step_form| %>
    <% render 'recipes_step_form', f: step_form %>
  <% end %>
  </ul>

  <%= f.submit %>

<% end %>
