<!DOCTYPE html>
<html>
<head>
  <title>Receptor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p><%= notice %></p>
<p><%= alert %></p>

</body>
</html>
